:root {
  --primary-color: #f8796c;
  --secondary-color: #333;
  --accent-color: #6c63ff;
  --text-color: #333;
  --white-color: #ffffff;
  --border-color: #d3d3d3;
  --border-radius: 0.375rem;
}

a:focus-visible {
  outline: none;
}

.btn-outline,
.btn-primary {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius);
  padding: 0.625rem 1.25rem;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  gap: 10px;
}

.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-primary:hover {
  opacity: 0.9;
}

.section-spacing {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 11;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

select {
  padding: 8px 35px 8px 15px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000000' d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: calc(100% - 15px) 50%;
}

.form-input:focus {
  border-color: var(--primary-color);
}

.wishlist-badge,
.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  outline: none;
  background-color: transparent;
}

/**** swiper slider arrow  ******/
.swiper-button-next,
.swiper-button-prev {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
}

.swiper-button-prev {
  left: 0;
  right: auto;
}

.swiper-button-next {
  right: 0;
  left: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  font-weight: bold;
}

.swiper {
  margin: -8px;
}

.swiper .swiper-slide {
  padding: 8px;
}

.p-0 {
  padding: 0 !important;
}

/* Cart Slide Animation */
.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 24rem;
  background-color: var(--white-color);
  -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.cart-panel.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart-overlay.open {
  opacity: 1;
  visibility: visible;
}

#search-popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.search-popup {
  -webkit-animation: slideDown 0.3s ease-out;
  animation: slideDown 0.3s ease-out;
}


/* mobile-menu css */
.mobile-dropdown-content {
  display: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.mobile-dropdown-toggle.active+.mobile-dropdown-content {
  display: block;
}

/* Animation for mobile menu */
.mobile-menu-enter {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mobile-menu-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.mobile-menu-exit {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mobile-menu-exit-active {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.mobile-dropdown-content {
  display: none;
}

.mobile-dropdown-content.show {
  display: block;
}

#mobile-menu {
  width: 100%;
  max-width: 320px;
  right: 0;
}

#mobile-menu.show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

/*** site-header css ***/
.site-header .logo-col,
.site-footer .footer-logo {
  max-width: 120px;
  width: 100%;
}

.site-header .menu-dropdown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}

.site-header .main-nav>.has-item:hover>.menu-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(100%);
  -webkit-transform: scaleY(100%);
  -moz-transform: scaleY(100%);
  -ms-transform: scaleY(100%);
  -o-transform: scaleY(100%);
}

.site-header .main-nav>.has-item>a:after {
  content: '';
  position: absolute;
  top: 45%;
  right: 0;
  width: 7px;
  height: 7px;
  border-top: 2px solid #374151;
  border-left: 2px solid #374151;
  transform: translateY(-50%) rotate(225deg);
  -webkit-transform: translateY(-50%) rotate(225deg);
  -moz-transform: translateY(-50%) rotate(225deg);
  -ms-transform: translateY(-50%) rotate(225deg);
  -o-transform: translateY(-50%) rotate(225deg);
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  z-index: 1;
}

.site-header .main-nav>.has-item:hover>a:after {
  border-color: var(--primary-color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.categories-wrap svg path {
  stroke: var(--white-color);
}

.categories-wrap .category-dropdown {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.categories-wrap .category-dropdown.open {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

.categories-wrap ul li {
  padding: 5px 15px;
  cursor: pointer;
}

.categories-wrap ul li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.categories-wrap :is(.category-dropdown, .submenu) {
  position: absolute;
  top: 100%;
  background-color: var(--white-color);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  min-width: 100px;
  z-index: 2;
  padding: 5px 0;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.categories-wrap ul li a {
  gap: 7px;
}

.categories-wrap ul li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*** home banner sec css ****/
.swiper-slide {
  height: auto;
}

.hero-slider .swiper-pagination-bullet {
  background-color: var(--white-color);
  opacity: 1;
}

.hero-slider .swiper-pagination-bullet-active {
  width: 35px;
  border-radius: 10px;
  background-color: var(--primary-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hero-slider .swiper-pagination {
  bottom: 30px;
  left: 15px !important;
}

.offer-banner {
  max-width: 360px;
}

.hero-slider.swiper {
  margin: 0;
}

.hero-slider.swiper .swiper-slide {
  padding: 0;
}

/**** collection-sec css  *****/
.collection-sec ul li .tab-btn.active {
  color: var(--primary-color);
}

/**** pdp css *****/
.tab-button.active {
  color: var(--primary-color) !important;
  border-color: var(--primary-color);
}

.thumbnail-slider .swiper-slide-thumb-active .thumb-image {
  border-color: var(--primary-color);
}

/**** product-list css  *****/
.view-toggle.active {
  background: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

.checkbox label,
.radio-btn label {
  cursor: pointer;
}

.checkbox input,
.radio-btn input {
  height: 15px;
  width: 15px;
  cursor: pointer;
}



@media (min-width: 640px) {
  .list-view .product-card .list-view-content {
    justify-content: center;
  }

  .list-view .product-card .flex-col {
    width: 100%;
  }

  .list-view .product-card .flex-1 {
    flex: unset;
    width: 100%;
    padding-bottom: 15px;
  }

  .list-view .product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .list-view .product-image {
    width: 250px;
    display: block;
    height: 200px;
  }
}

@media screen and (max-width:1023px) {
  .offer-banner {
    max-width: 100%;
  }
}

@media screen and (max-width:767px) {
  p {
    font-size: 14px;
  }

  table,
  select,
  .form-input {
    font-size: 14px !important;
  }

  .btn-outline,
  .btn-primary {
    padding: 10px 15px;
    font-size: 14px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px;
    height: 35px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 14px;
  }

  .section-spacing {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

/* order-track-page-start */
.order-track-page .account-info {
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08),
    0 0 0 1px rgba(182, 186, 203, 0.1);
}

.order-track-page .profile-img {
  border: 5px solid #f5f5f5;
}

.order-track-page #progressbar .active {
  color: var(--primary-color);
}

.order-track-page #progressbar .active .progressbar-icon {
  background-color: var(--primary-color);
}

.order-track-page #progressbar .active .progressbar-icon i {
  color: var(--white);
}

.order-track-page #progressbar li {
  opacity: 0.8;
}

.order-track-page #progressbar li.active {
  opacity: 1;
}

.order-track-page #progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #d3d3d3;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 0;
}

.order-track-page #progressbar li.active:before,
.order-track-page #progressbar li.active:after {
  background: var(--primary-color);
}

.order-track-page .progress-bar {
  background-color: var(--primary-color);
}

.order-track-page .progressbar-wrapper {
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08),
    0 0 0 1px rgba(182, 186, 203, 0.1);
}

/* Select2 Custom Styles */
.select2-container--default .select2-selection--single {
  height: 38px !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 0.375rem !important;
  padding: 0.5rem 0.75rem !important;
  background-color: #fff !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px !important;
  padding-left: 0 !important;
  color: #374151 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--primary-color) !important;
}

.select2-dropdown {
  border: 1px solid #e5e7eb !important;
  border-radius: 0.375rem !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e5e7eb !important;
  border-radius: 0.375rem !important;
  padding: 0.5rem !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: none !important;
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 2px rgba(var(--primary-color-rgb), 0.1) !important;
}

/* Match form-input focus state */
.select2-container--default.select2-container--focus .select2-selection--single {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 2px rgba(var(--primary-color-rgb), 0.1) !important;
}

.bg-accent {
  background-color: var(--primary-color);
}

/* 6-6 */
.wishlist-btn.active {
  color: #ff0000;
}

.faq-col:last-of-type {
  margin-bottom: 0 !important;
}

.pdp-timer .time-svg {
  width: 60px;
  background: var(--primary-color);
  border-radius: 0.375rem;
  border: 1px solid var(--primary-color);
}

.pdp-timer .time-counter {
  gap: 15px;
}

.pdp-timer .time-counter #timer div {
  background-color: #d9d9d980;
  width: 60px;
  padding: 8px;
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  color: var(--black)
}

#timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

#timer span {
  color: var(--primary-color);
}

.time-counter svg {
  height: 30px;
  width: 30px;
}

.time-counter #timer span {
  margin-top: 5px;
  line-height: 1;
}

.product_orignal_price{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

@media screen and (max-width:639px) {
  .pdp-timer .time-svg {
    width: 43px;
  }

  .pdp-timer .time-counter #timer div {
    width: 43px;
    padding: 5px;
  }

  .time-counter #timer span {
    font-size: 13px;
  }

  .pdp-timer .time-counter,
  #timer {
    gap: 10px;
  }
}

/********* RTL CSS **********/
/* home page rtl css  */
[dir="rtl"] .hero-slider img {
  transform: scaleX(-1);
}

[dir="rtl"] .hero-slider .swiper-pagination {
  right: 20px !important;
  left: auto !important;
}

[dir="rtl"] .fas.fa-arrow-right,
[dir="rtl"] .site-header #form_logout svg {
  transform: scaleX(-1);
}

[dir="rtl"] .swiper-button-next {
  right: 10px;
  left: auto;
  transform: scaleX(-1);
}

[dir="rtl"] .swiper-button-prev {
  left: 10px;
  right: auto;
  transform: scaleX(-1);
}

[dir="rtl"] #mobile-menu,
[dir="rtl"] .cart-panel {
  left: 0;
  right: auto;
  transform: translateX(-100%)
}

[dir="rtl"] #mobile-menu.show,
[dir="rtl"] .cart-panel.open {
  transform: translate(0);
}

[dir="rtl"] select {
  padding: 8px 15px 8px 35px !important;
  background-position: 15px 50%;
}

/* inner-page-css */
[dir="rtl"] #mobile-filter {
  right: 0;
  left: auto;
}

@media screen and (max-width: 1023px) {
  [dir="rtl"] #mobile-filter.-translate-x-full {
    transform: translateX(100%);
  }

  [dir="rtl"] #mobile-filter {
    transform: translateX(0);
  }
}


[dir="rtl"] .pagination-wrapper svg,
[dir="rtl"] .details-btn svg,
[dir="rtl"] .continue-btn svg,
[dir="rtl"] .continue-btn i {
  transform: scaleX(-1);
}

[dir="rtl"] .collection-card img {
  transform: scale(-1);
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
}

[dir="rtl"] .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 0 !important;
  padding-left: 8px !important;
  text-align: right;
}